#calculator-keyboard{
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 45%;
  padding: 15px 20px 30px 25px;
  background-color: LightGrey;
}
#calculator-screen{
  position: absolute;
  top: 8%;
  left: 30%;
  width: 40%;
  height: 10%;
  background-color: GhostWhite;
  font-size: 30px;
}
.btn {
  width: 10%;
  height: 50px;
  margin: 0 5px 5px 0;
  font-weight: bold;
  font-size: 25px;
}
